core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt

# Ignore virtual environment folder:
mildew-env/

# Ignore kaggle API key file:
kaggle.json

# Ignore train and validation folders:
/inputs/mildew-dataset/cherry-leaves/train


